.left-bar {
  width: 25%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 2%;
  top: 3%;
  height: 94%;
  border-radius: 5px;
}

.left-bar p {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: center;
  padding: 15px 0;
}

.left-bar ul {
  list-style: none;
}

.left-bar ul li div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.left-bar ul li div button {
  cursor: pointer;
}

.left-bar ul li div img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}

.left-bar ul li div .user-info {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.left-bar ul li div .user-info h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.left-bar ul li div .user-info h3 {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  font-size: 12px;
  color: #666;
}

.left-bar ul li button {
  background: transparent;
}

.left-bar ul li div i {
  margin-left: 10px;
  font-size: 16px;
}

.left-bar ul li div .remove {
  color: #f00;
}

.left-bar ul li div .go-to-page {
  color: #333;
  font-weight: bold;
}
